// colors
$color01: #004C9A; // NOKIA BLUE
$color02: rgb(49,49,49); // BODY COLOR
$color03: rgb(200,200,200); // GREY ACCENT


// fonts 
// Open Sans 400 -->Regular for Body
// Open Sans 400i -->Regular Italics for Body
// Exo 2 700 --> Bold For title and other bolded items
$title_font: 'Exo 2', sans-serif;
$body_font: 'Open Sans', sans-serif;
